@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --main-color: #772E25;
    --second-color: #C44536;
    --third-color: #EDDDD4;
    --fourth-color: #197278;
    --fifth-color: #283D3B;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', cursive;
}

::-webkit-scrollbar {
    width: 4px;
    border: 1px solid #d5d5d5;
}

::-webkit-scrollbar-track {
    border-radius: 0;
    background: var(--fourth-color);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border-radius: 0;
    background: var(--second-color);
}

::-webkit-scrollbar-thumb:horizontal {
    background: red;
    border-radius: 1px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--third-color);
    color: var(--third-color);
    width: 100%;
}



button {
    width: 100px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid var(--main-color);
    background-color: var(--second-color);
    color: var(--third-color);
    font-weight: 700;
    font-size: 16px;
    transition: all 0.3s ease;
}

button:hover {
    cursor: pointer;
    background-color: var(--main-color);
    color: var(--third-color);
}

.toDoApp {
    border: 4px solid var(--fifth-color);
    padding: 40px;
    border-radius: 20px;
    height: auto;
    min-height: 500px;
    max-height: 1000px;
    width: 100%;
    max-width: 800px;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--fourth-color);
    box-shadow: 10px 10px 50px var(--main-color);
    margin-left: 20px;
    margin-right: 20px;
    transition: all 0.3s ease;
}

/* Title Section */

.title__section {
    margin-bottom: 40px;
    text-align: center;
    background-color: var(--fifth-color);
    padding: 20px 40px;
    border-radius: 20px;
    width: 100%;
    color: whitesmoke;
}

.title__section h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
    color: var(--second-color);
    text-shadow: 1px 1px 5px black;
}

.title__section h2 {
    font-size: 20px;
    font-weight: 400;
}

/* input section */

.input__section {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 40px;
    width: 100%;
}

.input__section--input {
    width: 70%;
    min-width: 200px;
    height: 40px;
    padding: 5px 10px;
    border-radius: 20px;
    margin-right: 10px;
}

/* TASK SECTION */

.task__section {
    width: 100%;
    padding: 20px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.task__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 15px;
    background-color: var(--third-color);
    color: var(--fifth-color);
    font-weight: 700;
    font-size: 20px;
    transition: all 0.3s ease;
    box-shadow: 5px 5px 20px var(--main-color);
    text-align: center;
    text-transform: capitalize;
}

li:hover {
    scale: 1.01;
}

.checkbox {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
    border: 1px solid var(--main-color);
    border-radius: 100px;
}